$large: 1600px;
$medium: 1200px;
$small: 850px;

@mixin media-query-max($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin media-query-min($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin large {
  @include media-query-max($large) {
    @content;
  }
}

@mixin medium {
  @include media-query-max($medium) {
    @content;
  }
}

@mixin small {
  @include media-query-max($small) {
    @content;
  }
}

@mixin not-small {
  @include media-query-min($small) {
    @content;
  }
}

@mixin medium-min {
  @include media-query-min($medium) {
    @content;
  }
}
