$xxsmall: 0.15rem;
$xsmall: 0.3rem;
$small: 0.7rem;
$medium: 1.5rem;
$large: 2.5rem;
$xlarge: 5rem;

// layout

$fixed-width: 1560px;
$fixed-width-small: 1280px;

$header-height-mobile: 50px;
$header-width-desktop: 50px;

$nav-menu-width-desktop: 900px;

$line-thickness: 1px;

$fixed-width: 1034px;
