@use './variables/spacing';
@use './variables/shadows';
@use './variables/colours';
@use './variables/responsive';

.arm-group {
  .arm-group-inner {
    gap: spacing.$small;

    > *:not(:last-child) {
      margin: inherit;
    }
  }
}

.arm-switch-input {
  &[data-checked='true'] {
    .arm-switch-input-inner {
      background-color: colours.$accent;
    }
  }

  .arm-switch-input-inner {
    border-radius: 50px;

    &::after {
      border-radius: 50%;
      background-color: colours.$white;
    }
  }
}

.arm-toast-notification-container-right {
  max-width: 400px;

  .arm-toast-notification-toasts {
    padding: spacing.$small;

    .arm-toast-notification-inner {
      border-radius: spacing.$small;
      padding: spacing.$small;
      box-shadow: spacing.$xsmall spacing.$xsmall spacing.$small transparentize(colours.$black, 0.9);

      p {
        font-size: 1.3rem;
      }
    }
  }
}

.arm-listbox {
  width: 180px;

  .placeholder {
    color: colours.$grey-dark;
    font-size: 1rem;
  }
}

.arm-modal.arm-dropdown-content {
  margin-top: spacing.$small;
  border-radius: spacing.$xxsmall;
  height: max-content;
  box-shadow: shadows.$small;
  width: 100%;
  max-width: 230px;

  .arm-dropdown-content-inner {
    padding: spacing.$xsmall;

    .arm-dropdown-item {
      padding: spacing.$xxsmall spacing.$small;
    }
  }
}

@include responsive.small {
  .arm-modal.arm-dropdown-content {
    width: 100%;
    max-width: calc(100vw - #{spacing.$small * 2});
    left: spacing.$small;

    .arm-dropdown-item {
      font-size: 1.4rem;
    }
  }
}
