@use './variables/typography';
@use './variables/colours';
@use './variables/responsive';
@use './variables/spacing';

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;800&display=swap');
/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

html {
  font-size: typography.$font-size-base;
  font-family: typography.$font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
