@use './variables/typography';
@use './variables/colours';
@use './variables/responsive';
@use './variables/spacing';

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700;900&display=swap');

html {
  font-size: typography.$font-size-base;
  font-family: typography.$font-sans;
  font-weight: lighter;
}

button {
  font-family: typography.$font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  text-transform: lowercase;
}

h2 {
  text-transform: lowercase;
}

h3 {
  font-size: 1.3rem;
  text-transform: lowercase;
}

p {
  line-height: 1.6rem;
}

a,
a:visited,
a:active {
  text-decoration: inherit;
  color: inherit;
}

@include responsive.small {
  html {
    font-size: typography.$font-size-base-mobile;
  }
}

/* stylelint-disable-next-line selector-no-qualifying-type */
span.arrow {
  margin-left: spacing.$xsmall;
}
