@use './variables/colours';
@use './variables/spacing';
@use './variables/timing';

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: colours.$background;
  color: colours.$foreground;
  overflow-x: hidden;

  ::selection {
    background-color: transparentize(colours.$accent, 0.5);
    color: colours.$white;
  }
}

// see hooks/useDisableScroll for logic that adds this data attribute

/* stylelint-disable-next-line selector-no-qualifying-type */
html[data-scrolling-disabled='true'] {
  overflow: hidden;
}

hr {
  border: none;
  border-top: 1px solid colours.$black;
  margin: spacing.$large 0;
}

.logo {
  max-width: 200px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: colours.$grey-light;
}
::-webkit-scrollbar-thumb {
  background-color: colours.$grey-dark;
  transition: background-color timing.$quick;

  &:active {
    background-color: lighten(colours.$grey-dark, 10%);
  }
}

html {
  &::-webkit-scrollbar {
    width: 10px;
  }
}
